#popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #777171;
  z-index: 1;
}

#popup-form.show {  
  display: block;
  padding: 15px;
  border-radius: 8px;
}

.read {
  background-color: greenyellow;
  margin-left: 20px;
}

.notRead {
  background-color: palevioletred;
  margin-left: 20px;
}